<p id="notice"><%= notice %></p>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Upload new records
    </a>
  </p>
  <p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%= form_tag import_realizeds_path, multipart: true do %>
        <%= file_field_tag :file, class: 'btn btn-sm btn-light' %>
        <%= submit_tag 'Upload', class: 'btn btn-sm btn-primary text-light' %>
      <% end %>
      <br>
      <p><%= link_to 'Export (csv)', realizeds_path('csv'), class: 'btn btn-sm btn-secondary text-light mt-2' %></p>
    </div>
  </div>
</p>


<div class="card">
  <div class="card-body">
    <h5 class="card-title fw-bold">Realized</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Symbol</th>
          <th>Acquired</th>
          <th>Sold</th>
          <th>Proceeds</th>
          <th>Cost</th>
          <!-- <th>Extra s</th>
          <th>Extra d</th>
          <th>Extra b</th>
          <th>Extra i</th>
          <th>Extra de</th> -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @realizeds.order(:sold).each do |realized| %>
          <tr>
            <td><%= realized.stock %></td>
            <td><%= realized.symbol %></td>
            <td><% if realized.acquired.present? %><%= realized.acquired.strftime("%-m/%-d/%Y") %><% end %></td>
            <td><% if realized.sold.present? %><%= realized.sold.strftime("%-m/%-d/%Y") %><% end %></td>
            <td><% if realized.proceeds.present? %><%= number_to_currency(realized.proceeds) %><% end %></td>
            <td><% if realized.cost.present? %><%= number_to_currency(realized.cost) %><% end %></td>
            <!-- <td><%= realized.extra_s %></td>
            <td><%= realized.extra_d %></td>
            <td><%= realized.extra_b %></td>
            <td><%= realized.extra_i %></td>
            <td><%= realized.extra_de %></td> -->
            <td><%= link_to 'Show', realized %></td>
            <td><%= link_to 'Edit', edit_realized_path(realized) %></td>
            <td><%= link_to 'Destroy', realized, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  <%= link_to 'New Realized', new_realized_path %>

  </div>
</div>
