<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @realized.stock %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @realized.symbol %>
</p>

<p>
  <strong>Acquired:</strong>
  <%= @realized.acquired %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @realized.sold %>
</p>

<p>
  <strong>Proceeds:</strong>
  <%= @realized.proceeds %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @realized.cost %>
</p>

<p>
  <strong>Extra s:</strong>
  <%= @realized.extra_s %>
</p>

<p>
  <strong>Extra d:</strong>
  <%= @realized.extra_d %>
</p>

<p>
  <strong>Extra b:</strong>
  <%= @realized.extra_b %>
</p>

<p>
  <strong>Extra i:</strong>
  <%= @realized.extra_i %>
</p>

<p>
  <strong>Extra de:</strong>
  <%= @realized.extra_de %>
</p>

<%= link_to 'Edit', edit_realized_path(@realized) %> |
<%= link_to 'Back', realizeds_path %>
