<p id="notice"><%= notice %></p>

<p>
  <strong>Number storage one:</strong>
  <%= @number_storage.number_storage_one %>
</p>

<p>
  <strong>Number storage two:</strong>
  <%= @number_storage.number_storage_two %>
</p>

<p>
  <strong>Number storage three:</strong>
  <%= @number_storage.number_storage_three %>
</p>

<p>
  <strong>Number storage four:</strong>
  <%= @number_storage.number_storage_four %>
</p>

<p>
  <strong>Number storage five:</strong>
  <%= @number_storage.number_storage_five %>
</p>

<%= link_to 'Edit', edit_number_storage_path(@number_storage) %> |
<%= link_to 'Back', number_storages_path %>
